{% extends "layout.html" %}
{% block title %}Hilfe | {{ config.site_name }}{% endblock %}
{% block ogtitle %}Hilfe | {{ config.site_name }}{% endblock %}
{% block meta_description %}Eine kurze Anleitung, was man wie mit {{ config.site_name }} machen kann.{% endblock %}

{% block riscontent %}

<div class="content top">
	<h1>{{ config.site_name }}</h1>
  
	<blockquote class="nice">Ziel von {{config.site_name}} ist es, Informationen, Dokumente und Daten aus der Lokalpolitik für jedermann offen zugänglich zu machen.</blockquote>
	
	<p>Dazu werden auf {{ config.site_host }} Dokumente und Daten, die in den jeweiligen Ratsinformationssystemen (<abbr title="Ratsinformationssystem">RIS</abbr>) veröffentlicht werden, gesammelt, aufbereitet und in einer nutzerfreundlichen Art und Weise dargestellt.</p>
</div>
<div class="content middle">	
	<p style="text-align: center; margin: 0 5em;">{{ config.site_name }} richtet sich an alle, die sich dafür interessieren, wie die kommunale Politik ihr Leben direkt und indirekt beeinflusst. Wir vermuten, dass sich dieser Kreis der Interessierten durch eine Erleichterung des Zugangs zu Informationen vergrößern lässt. Außerdem glauben wir, dass wir viel voneinander lernen können, so dass der Blick in die Nachbarkommune ebenfalls möglich sein sollte.</p>
</div>
<div class="content middle">
	<div style="overflow: auto;">
		<div style="float: left; width: 310px; padding-left: 20px;">
			<img src="/static/img/ueber/ueber-indeinernaehe.jpg" width="250" height="250" alt="Screenshot" style="border: 1px solid #fff" />
		</div>
		<div style="float: left; width: 310px;">
			<p><b>Dinge in meiner Nähe</b>: Über das obere Suchfeld der Startseite können Sie nach Straßen und Plätzen suchen, die in Dokumenten und Vorgängen erwähnt wurden. Geben Sie bitte zunächst die Straße und die Stadt an. Wenn Sie möchten, können Sie weiter oben die Suche auf eine bestimmte Region beschränken. Im Suchergebnis werden auf der Karte Straßen im Umkreis des gesuchten Ortes rot unterlegt. Ein Klick auf die Straße zeigt dann eine zugehörige Zahl an Treffern, über die Sie mit einem weiteren Klick zu den Dokumenten gelangen. <a href="/">Ausprobieren</a></p>
			<p>Hierbei müssen Sie zunächst die Straße, Stadt angeben. Außerdem können Sie die Region einschränken, wenn Sie dies möchten. Auf der Karte werden dann Straßen mit Suchergebnissen rot unterlegt. Klicken Sie auf die Straße, um die Dokumente zu erhalten.</p>
		</div>
	</div>
</div>
<div class="content middle">
	<div style="overflow: auto; text-align: right;">
		<div style="float: right; width: 310px; padding-right: 20px;">
			<img src="/static/img/ueber/ueber-suche.jpg" width="250" height="250" alt="Screenshot" style="border: 1px solid #fff" />
		</div>
		<div style="float: right; width: 310px;">
			<p><b>Flexible Suchfunktionen</b>: Über das untere Suchfeld der Startseite können Sie nach allen Wörtern suchen, die in den Dokumenten vorkommen. Sie können das Suchergebnis auch auf bestimmte Gremien, wie z.B. die Bezirksvertretung Ihres Bezirks, oder nach Arten von Dokumenten beschränken. Es kann außerdem nach Satzteilen gesucht werden: Diese setzen Sie bitte in Anführungszeichen, also z.B. "Anlage Verwaltungsrat". <a href="/suche">Ausprobieren</a></p>
		</div>
	</div>
</div>
<div class="content middle">
	<div style="overflow: auto;">
		<div style="float: left; width: 310px; padding-left: 20px;">
			<img src="/static/img/ueber/ueber-anlagenvorschau.jpg" width="250" height="250" alt="Screenshot" style="border: 1px solid #fff" />
		</div>
		<div style="float: left; width: 310px;">
			<p><b>Anlagen-Vorschau</b>: Sie können Anlagen zu Dokumenten, bevor Sie diese zur detaillierten Einsicht herunter laden, in einer schnellen Voransicht ansehen. Damit können Sie schnell einen Eindruck bekommen, um welche Art von Dokument es sich handelt: Antragstext, Bericht, Präsentation etc. Damit fällt die Entscheidung, welches Dokument einen näheren Blick wert ist, leichter. <a href="/suche">Ausprobieren</a></p>
		</div>
	</div>
</div>
<div class="content middle">
	<div style="overflow: auto; text-align: right;">
		<div style="float: right; width: 310px; padding-right: 20px;">
			<img src="/static/img/ueber/ueber-persistenteurls.jpg" width="250" height="250" alt="Screenshot" style="border: 1px solid #fff" />
		</div>
		<div style="float: right; width: 310px;">
			<p><b>Persistente URLs für Anlagen</b>: Anders als im Ratsinformationssystem der jeweiligen Stadt können Sie alle Anlagen (z.B. PDF-Dokumente) über einen öffentlichen, langfristig bestehenden <abbr title="Uniform Resource Locator">URL</abbr> abrufen. Dies ist eine Grundvoraussetzung, damit Sie einen Favoriten/ein Lesezeichen auf die Datei setzen oder einen Link zum Dokument per E-Mail weiter senden können.</p>
		</div>
	</div>
</div>
<div class="content middle">
	<div style="overflow: auto;">
		<div style="float: left; width: 310px; padding-left: 20px;">
			<img src="/static/img/ueber/ueber-daten.jpg" width="250" height="250" alt="Screenshot" style="border: 1px solid #fff" />
		</div>
		<div style="float: left; width: 310px;">
			<p><b>Daten-Download</b>: Die Datenbank hinter "Was passiert bei mir?" steht zum Download zur Verfügung. <a href="/daten/">Mehr erfahren</a></p>
		</div>
	</div>
</div>
<div class="content middle">
	<div style="overflow: auto; text-align: right;">
		<div style="float: right; width: 310px; padding-right: 20px;">
			<img src="/static/img/ueber/ueber-api.jpg" width="250" height="250" alt="Screenshot" style="border: 1px solid #fff" />
		</div>
		<div style="float: right; width: 310px;">
			<p><b>API</b>: Unsere Daten sind nicht nur als Download verfügbar. Wir haben auch eine auf dem Standard OParl basierte API, also eine Schnittstelle zum gezielten Abruf bestimmter Daten mit Hilfe von Software. <a href="/api">Mehr erfahren</a></p>
		</div>
	</div>
</div>

<div class="content bottom" id="links">
	<h2 class="top-nomargin">Zum Weiterklicken</h2>
	<p>Niemand ist eine Insel, erst recht nicht im World Wide Web. Daher gibt es hier gesammelt wesentliche Links zu relevanten Ressourcen.</p>
	<p>Das jeweilige lokale Ratsinformationssystem der Stadt ist die Quelle der Dokumente, dier hier zu finden sind. Die Quellen stehen bei den einzelnen Dokumenten dabei.</p>
	<p>Sowas wie "Was passiert bei mir?" gibt es schon länger in Frankfurt unter dem Namen <a href="http://www.frankfurt-gestalten.de/" target="_blank">Frankfurt gestalten</a>. Interessierte, die solche und ähnliche Plattformen in anderen Städten fördern wollen, diskutieren auf der <a href="http://lists.okfn.org/mailman/listinfo/ris" target="_blank">OKF RIS</a>. Überregionale Anlaufstellen, um sich Mitstreiter für ein solches Projekt zu suchen, ist die <a href="http://okfn.de/" target="_blank">Open Knowledge Foundation Deutschland</a>. Einige schöne Beispiele für andere Datenanwendungen findet man im <a href="http://opendata-showroom.org/de/">Open Data Showroom</a>.</p>
</div>
{% endblock %}