{% extends "bootstrap/base.html" %}

{% block title %} | {{ config.site_name }}{% endblock %}

{% block head %}
{{super()}}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content="{% block meta_description %}{% endblock %}" />
<meta name="publisher" content="{{ config['meta_publisher'] }}" />

<meta property="og:title" content="Offenes Ratsinformationssystem" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ config['base_url'] }}" />
<meta property="og:image" content="{{ config['base_url'] }}/static/img/og.jpg" />
<meta property="og:description" content="Das offene Ratsinformationssystem hilft Dir, Informationen zur Politik vor Ort zu erfahren und mitreden zu können." />

{% if config['google_site_verification'] %}
<meta name="google-site-verification" content="{{ config['google_site_verification'] }}" />
{% endif %}
<link rel="icon" type="image/vnd.microsoft.icon" href="/static/img/logo/favicon.ico" />
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/static/img/logo/favicon.ico" />
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{% if config['debug'] %}{{ url_for('static', filename='css/style.css') }}{% else %}{{ url_for('static', filename='css/style.min.css') }}{% endif %}?v=0.1.1"/>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{% if config['debug'] %}{{ url_for('static', filename='js/script.js') }}{% else %}{{ url_for('static', filename='js/script.min.js') }}{% endif %}?v=0.1.1"></script>
{% if config['tracking'] == 'analytics' %}
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{ config['analytics_account'] }}']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
{% elif config['tracking'] == 'piwik' %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ config['piwik_host'] }}/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "{{ config['piwik_site_id'] }}"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
{% endif %}
{% endblock %}

{% block content %}
<header>
  <div id="topnav"><a href="/">Startseite</a> | <a href="http://openruhr.de/">Blog</a> | <a href="/impressum">Impressum</a> | <a href="/datenschutz">Datenschutz</a></div>
  <div id="logo"><a href="/"><img src="/static/img/logo/PolitikBeiUns.png" alt="Politik Bei Uns Logo" /></a></div>
  <div id="nametagline">
    <div><a id="name" href="/">Offenes Ratsinformationssystem</a></div>
    <div id="tagline">Transparente Kommunalpolitik für ganz Deutschland</div>
  </div>
</header>
<div id="main" role="main">
  <noscript>
    <p>Sie müssen JavaScript aktivieren, um diese Site nutzen zu können.</p>
  </noscript>
  {% block riscontent %}{% endblock %}
</div>
<footer>
  <ul id="footer-icons">
    <li><a href="https://twitter.com/politikbeiuns"><img src="/static/img/footer/twitter.png" alt="Twitter" /></a></li>
    <li><a href="https://www.facebook.com/OKFNetwork"><img src="/static/img/footer/facebook.png" alt="Facebook" /></a></li>
    <li><a href="mailto:kontakt@politik-bei-uns.de"><img src="/static/img/footer/mail.png" alt="E-Mail" /></a></li>
    {% block footericons %}{% endblock %}
  </ul>
  <ul id="footer-menu">
    <li class="large">
      <h4>Ziel der Seite</h4>
      <p>"Politik Bei Uns" stellt politische Entscheidungen aus dem Stadtrat und seinen Ausschüssen überregional und leicht durchsuchbar dar.</p>
    </li>
    <li>
      <h4>Informationen</h4>
      <ul>
        <li><a href="/ueber">Über uns</a></li>
        <li><a href="/hilfe">Hilfe</a></li>
        <li><a href="/disclaimer">Haftungsausschluss</a></li>
      </ul>
    </li>
    <li>
      <h4>Für Entwickler</h4>
      <ul>
        <li><a href="/daten">Daten</a></li>
        <li><a href="/api">API</a></li>
        <li><a href="https://github.com/okfde/">Github</a></li>
      </ul>
    </li>
    <li class="large">
      <h4>Ein Projekt der</h4>
      <a href="http://okfn.de/"><img src="/static/img/footer/okf-de.png" alt="Open Knowdledge Foundation" /></a>
    </li>
  </ul>
</footer>
{% endblock %}

