{% extends "layout.html" %}
{% block title %}{{ paper.title }} | {{ config.site_name }}{% endblock %}
{% block ogtitle %}{{ paper.title }} {{ config.site_name }}{% endblock %}
{% block meta_description %}Hier steht alles, was wir über einen Antrag oder ein sonstiges Dokument wissen.{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
var ok_document_id = '{{ paper._id }}';
var ok_document_url = '{{ paper._id }}';
</script>
{% if config.DISQUS_SHORTNAME %}
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_title = '[{{ paper._id }}] - {{ paper.name }}';
  var disqus_category_id = '{{ config.DISQUS_CAT_DOKUMENTE }}';
  var disqus_shortname = '{{ config.DISQUS_SHORTNAME }}';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='js/paper_details.min.js') }}?v={{ config['css_js_version'] }}"></script>
{% endblock %}

{% block riscontent %}
<div id="docdetails">
  <div class="content top">
  <h1>{{ paper.name|truncate(70) }}</h1>
  <table class="metadata">
    <tbody>
    {% if paper.name|truncate(70) != paper.name %}
    <tr>
      <td class="label">Vollst. Name:</td>
      <td class="value">{{ paper.name }}</td>
    </tr>
    {% endif %}
    <tr>
      <td class="label">Körperschaft</td>
      <td class="value">{{ paper.body.name }}</td>
    </tr>
    {% if paper.paperType %}
    <tr>
      <td class="label">Art des Dokuments:</td>
      <td class="value">{{ paper.paperType }}</td>
    </tr>
    {% endif %}
    {% if paper.publishedDate %}
    <tr>
      <td class="label">Erstellt am:</td>
      <td class="value">{{ paper.publishedDate.strftime('%d.%m.%Y') }}</td>
    </tr>
    {% endif %}
    {% if paper.superordinatedPaper %}
    <tr>
      <td class="label">Übergeordnete Drucksache:</td>
      <td class="value">{% for superordinatedPaper in paper.superordinatedPaper %}<a href="/paper/{{ superordinatedPaper._id }}">{{ superordinatedPaper.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    {% endif %}
    {% if paper.subordinatedPaper %}
    <tr>
      <td class="label">Untergeordnete Drucksache:</td>
      <td class="value">{% for subordinatedPaper in paper.subordinatedPaper %}<a href="/paper/{{ subordinatedPaper._id }}">{{ subordinatedPaper.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    {% endif %}
    {% if paper.relatedPaper %}
    <tr>
      <td class="label">Zusammenhängende Drucksache:</td>
      <td class="value">{% for relatedPaper in paper.relatedPaper %}<a href="/paper/{{ relatedPaper._id }}">{{ relatedPaper.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    {% endif %}
    <tr>
      <td class="label">Beraten in:</td>
      <td class="value">
      {% if paper.consultation|length ==  1 %}
      1 Sitzung
      {% else %}
      {{ paper.consultation|length }} Sitzungen
      {% endif %}
      </td>
    </tr>
    <tr>
      <td class="label">Anlagen:</td>
      <td class="value">
      {% if paper.auxiliaryFile|length == 0 %}
      1 Anlage
      {% else %}
      {{ paper.auxiliaryFile|length + 1 }} Anlagen
      {% endif %}
      </td>
    </tr>
    <tr>
      <td class="label">Quelle:</td>
      <td class="value">
      <a href="{{ paper.originalUrl }}" target="_blank">{{ paper.originalUrl }}</a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
  <div class="consultation content middle">
    <h2>Beratungen in Gremien</h2>
    <ol>
      {% for consultation in paper.consultation %}
      <li>
      {% if consultation.agendaItem.meeting %}
      <b>{{ consultation.agendaItem.meeting.name|utfunescape }}</b>,
      {% if consultation.agendaItem.meeting.start %}
      {{ consultation.agendaItem.meeting.start.strftime('%d.%m.%Y') }}.
      {% endif %}
      {% endif %}
      {% if consultation.agendaItem.name != paper.name %}
      <br/>Thema: {{ consultation.agendaItem.name|utfunescape }}
      {% endif %}
      {% if consultation.agendaItem.result %}
      <br />Ergebnis: {{ consultation.agendaItem.result|utfunescape }}
      {% endif %}
      {% if consultation.agendaItem.resolution %}
        &ndash; {{ consultation.agendaItem.resolution|utfunescape }}
      {% endif %}
      </li>
      {% endfor %}
    </ol>
  </div>
  
  {% if paper.mainFile %}
  {% if paper.mainFile.thumbnails %}
  {% set twidth = (paper.mainFile.thumbnails['300']|sum(attribute='width') + (11 * paper.mainFile.thumbnails['300']|length)) %}
  {% set numpages = paper.mainFile.thumbnails['300']|length %}
  {% endif %}
  <div class="attachment content middle" id="{{ paper.mainFile._id }}">
    <h2>Primäre Anlage: {{ paper.mainFile.name|truncate(100) }}
      {% if numpages %}
      ({{ numpages }} Seiten)
      {% endif %}
    </h2>
    {% if paper.mainFile.depublication %}
    <div class="attachmentexclusion">
      <p class="exclusionheader">Es tut uns leid, aber dieses Dokument wurde am {{ paper.mainFile.depublication.date.strftime('%d.%m.%Y') }} enfernt. Die Begründung:</p>
      <p class="reasontext">
        {{ paper.mainFile.depublication.comment }}
      </p>
    </div>
    {% else %}
    {% if paper.mainFile.thumbnails %}
    <div class="thumbs">
      <div class="thumbsinner" style="width: {{ twidth }}px; height: 310px;">
        {% for thumbnail in paper.mainFile.thumbnails['300'] %}
        <img class="thumb" src="{{ generate_file_thumbnail_url(paper.body._id, paper.mainFile._id, 300, loop.index) }}" alt="Vorschau zu {{ paper.mainFile.name }} zum Thema {{ paper.name }}"{% if paper.mainFile.thumbnails['800'][loop.index - 1] %} data-width800="{{ paper.mainFile.thumbnails['800'][loop.index - 1]['width'] }}"{% endif %} />
        {% endfor %}
      </div>
    </div>
		{% else %}
		<div class="nothumbs"><div class="smallnote">Zu diesem Anhang liegen keine Vorschaubilder vor.</div></div>
		{% endif %}
		{% if paper.mainFile.fulltext %}
		<div class="fulltext">
			<div class="complete">
				<div class="text">{{ paper.mainFile.fulltext|trim }}</div>
			</div>
		</div>
		{% else %}
		<div class="nofulltext">
			<div class="smallnote">Zu diesem Anhang kann leider kein Text angezeigt und durchsucht werden. Evtl. handelt es sich um den Scan einer Papiervorlage.</div>
		</div>
    {% endif %}
    <table class="metadata, hidden_debug">
      <tbody>
        <tr>
        <td class="label">ID: </td>
        <td class="value">{{ paper.mainFile._id }}</td>
        </tr>
        <tr>
        <td class="label">Orginal-Dateiname: </td>
        <td class="value">{{ paper.mainFile.filename }}</td>
        </tr>
      </tbody>
    </table>
    {% if paper.mainFile.file %}
    <div class="actions">
			<a href="/file/{{ paper.mainFile._id }}" class="awesome">Details zum Anhang</a> <a href="/file/{{ paper.mainFile._id }}/download" class="awesome">Anhang speichern</a>
			<span class="typesize">{{ (paper.mainFile.size / 1024)|round(0)|int }} KB PDF</span>
    </div>
    {% endif %}
  {% endif%}
  </div>
  {% endif%}
  

  {% for auxiliaryFile in paper.auxiliaryFile %}
  {% if auxiliaryFile.thumbnails %}
  {% set twidth = (auxiliaryFile.thumbnails['300']|sum(attribute='width') + (11 * auxiliaryFile.thumbnails['300']|length)) %}
  {% endif %}
  <div class="attachment content middle" id="{{ auxiliaryFile['_id'] }}">
    {% if auxiliaryFile.thumbnails %}
    {% set numpages = auxiliaryFile.thumbnails['300']|length %}
    {% endif %}
    <h2>Weitere Anlagen: {{ auxiliaryFile.name|truncate(100) }}
      {% if numpages %}
      ({{ numpages }} Seiten)
      {% endif %}
    </h2>
    {% if auxiliaryFile.depublication %}
    <div class="attachmentexclusion">
      <p class="exclusionheader">Es tut uns leid, aber dieses Dokument wurde am {{ auxiliaryFile.depublication.date.strftime('%d.%m.%Y') }} enfernt. Die Begründung:</p>
      <p class="reasontext">
        {{ auxiliaryFile.depublication.comment }}
      </p>
    </div>
    {% else %}
    {% if auxiliaryFile.thumbnails %}
    <div class="thumbs">
      <div class="thumbsinner" style="width: {{ twidth }}px; height: 310px;">
        {% for thumbnail in auxiliaryFile.thumbnails['300'] %}
        <img class="thumb" src="{{ generate_file_thumbnail_url(paper.body._id, auxiliaryFile._id, 300, loop.index) }}" alt="Vorschau zu {{ auxiliaryFile.name }} zum Thema {{ paper.name }}"{% if auxiliaryFile.thumbnails['800'][loop.index - 1] %} data-width800="{{ auxiliaryFile.thumbnails['800'][loop.index - 1]['width'] }}"{% endif %} />
        {% endfor %}
      </div>
    </div>
		{% else %}
		<div class="nothumbs"><div class="smallnote">Zu diesem Anhang liegen keine Vorschaubilder vor.</div></div>
		{% endif %}
		{% if auxiliaryFile.fulltext %}
		<div class="fulltext">
			<div class="complete">
				<div class="text">{{ auxiliaryFile.fulltext|trim }}</div>
			</div>
		</div>
		{% else %}
		<div class="nofulltext">
			<div class="smallnote">Zu diesem Anhang kann leider kein Text angezeigt und durchsucht werden. Evtl. handelt es sich um den Scan einer Papiervorlage.</div>
		</div>
    {% endif %}
    <table class="metadata, hidden_debug">
      <tbody>
        <tr>
					<td class="label">ID: </td>
					<td class="value">{{ auxiliaryFile._id }}</td>
        </tr>
				<tr>
					<td class="label">Orginal-Dateiname: </td>
					<td class="value">{{ auxiliaryFile.filename }}</td>
        </tr>
      </tbody>
    </table>
    {% if auxiliaryFile.file %}
    <div class="actions">
			<a href="/file/{{ auxiliaryFile._id }}" class="awesome">Details zum Anhang</a> <a href="/file/{{ auxiliaryFile._id }}/download" class="awesome">Anhang speichern</a>
			<span class="typesize">{{ (auxiliaryFile.size / 1024)|round(0)|int }} KB PDF
    </div>
    {% endif %}
  {% endif%}
  
  </div>
  {% endfor %}

  <div class="content bottom">
  <div class="comments">
    <h2>Kommentare, Fragen, Ergänzungen</h2>
    <div id="disqus_thread"></div>
  </div>
  </div>
</div>
{% endblock %}
